<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="/<%= src %>" alt="thumbnail" width="500">
    </div>
    <div>
        <h1><%= userInfo.id %> 님 환영합니다.</h1>
        <div>비밀번호 : <%= userInfo.pw %></div>
        <div>이름 : <%= userInfo.name %></div>
        <div>나이 : <%= userInfo.age %></div>
    </div>
</body>
</html>